@font-face{
    src : url('./font/EnglishTowne.ttf');
    font-family: "EnglishTowne";
}
@font-face{
    src : url('./font/Poppins-Regular.ttf');
    font-family: "Poppins-Regular";
}
@font-face{
    src : url('./font/PlayfairDisplay-Bold.otf');
    font-family: "Playfair-Bold";
}
@font-face{
    src : url('./font/PlayfairDisplay-Regular.otf');
    font-family: "Playfair-Regular";
}
@font-face{
    src: url('./font/Montserrat-Regular.otf');
    font-family: "Montserrat-Regular";
}
@font-face{
    src: url('./font/Montserrat-Thin.otf');
    font-family: "Montserrat-Thin";
}
@font-face{
    src: url('./font/Montserrat-SemiBold.ttf');
    font-family: "Montserrat-Semibold";
}
@font-face{
    src: url('./font/Montserrat-Bold.otf');
    font-family: "Montserrat-Bold";
}
/* Colors */
$gold: #CC9933;
$green: #4CCF36;
$black: #000000;
$white: #ffffff;
$deep-grey: #757575;

/* Mixins */
@mixin button-bare {
    border: none;
    outline: none;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
    padding: 5px;
    font-size: 13px;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins-Regular';
    overflow-x: hidden;
}
.trigger{
    height: 200px;
    background: none;
    margin-top: -210px;
}
.down-arrow{
    display: block;
    margin: auto;
    animation: float-button 1s ease-in-out infinite;
    width: 30px;
}
.big-circle{
    width: 60%;
    position: absolute;
    z-index: -1;
    right:-30%;
    margin-top: -40%;
    &:last-child{
        left: -30%;
        margin-top: -20%;
    }
}
.chain-link{
    width: 100%;
    margin-top: 4em;
    height: 185px;
    
    div{
        width: 1px;
        margin: auto;
        background: $gold;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            right: 50%;
            background: $gold;
            transform: translate(50%, 0%);
        }
        &::after{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            right: 50%;
            bottom: 0;
            background: $gold;
            transform: translate(50%, 0%);
        }
    }
    .draw-line{
        height: 35px;
    }
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after, 
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
    color: rgba(1,1,1,0);
}
.main-navigation{
    font-family: "Poppins-Regular";
    font-size: 0.8em;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        a{
            color: white;
            text-decoration: none;
        }
        li{
            display: inline-block;
            padding:0 2em;
        }
        li.active{
            color: $gold;
        }
    }
}
.mobile-navigation{
    display: none;
    padding: 1em 1em;
    img{
        width: 150px;
    }
}
.section-header{
    font-family: "EnglishTowne";
    font-size: 3.75em;
    color: $black;
    text-align: center;
    margin-top: 0.3em;
    span{
        color: $gold;
    }
}
.section-description{
    font-family: "Montserrat-Semibold";
    font-size: 0.9em;
    width: 50%;
    margin: auto;
    margin-top: 2em;
    text-align: center;
}
.landing{
    height: 100vh;
    width: 100%;
    background: $black;
    // background-image: url('../img/landing-image.png');
    // background-size: 40%;
    background-repeat: no-repeat;
    background-position: bottom center;
    text-align: center;
    a{
       color: $gold;
       text-decoration: none; 
    }
    article{
        /* Landing page heading */
        .heading{
            font-family: "EnglishTowne";
            color: $gold;
            font-size: 5em;
            text-align: center;
            line-height: 0;
        }
        /* Rider text */
        content{
            width: 30%;
            margin: auto;
            display: block;
            margin-top: -2em;
            p{
                font-family: "Poppins-Regular";
                color: $white;
                font-size: 0.9em;
            }
        }
        /* taste the native */
        footer{
            font-size: 1.2em;
            font-family: "Playfair-Bold";
            color: $gold;
            margin-top: -0.5em;
        }
    }
    .hero-image{
        width: 40%;
        position: absolute;
        bottom: 0;
        right: 30%;

    }
    .hero-corn{
        position: absolute;
        left: 25%;
        bottom:0%;
        transform: rotate(-105deg);
        width: 350px;
    }
    .hero-banana{
        position: absolute;
        right: 30%;
        bottom: 0;
        width: 300px;
    }
}
.img-float-right{
    position: absolute;
    right: 0;
    width: 250px;
    // animation: float-element 3.5s ease-in-out infinite;
}
.img-float-left{
    position: absolute;
    left: 0;
    width: 250px;
    // animation: float-element 3.5s ease-in-out infinite;
    // animation-delay: 1.5s;
}
[offset-element="banana-leaf"]{
    margin-top: -30px;
    right:-100px;
    width: 350px;
}

// #leaf-trigger{
  
// }
.float{
    animation: float-element 3s ease-in-out infinite;
}
#leaf{
    position: absolute;
    top: 5%;
    width: 300px;
    right: -7%;
}

#pot{
    @extend #leaf;
    left: -7%;
    top:-40%;
}
// #pot_area{
//     position: absolute;
//     top: 0%;
//     left: -7%;
//     #pot-trigger{
//         // height: 200px;
//     }
//     #pot{
//         position:relative;
//         width: 350px;
//         top: 50%;
//     }
// }
#ayo{
    @extend #leaf;
    right: -15%;
    top: -40%;
    width: 400px;
    animation-delay: 1.5s;
}
.leaf{
    // padding-bottom: 100px;
    // padding-bottom: 200px;
}

@keyframes float-element{
    0%{ margin-top: -20px; }
    50%{ margin-top: 0;  }
    100%{margin-top: -20px}
}
@keyframes float-button{
    0%{ margin-top: -15px; }
    50%{ margin-top: 0;  }
    100%{margin-top: -15px}
}
.row{
    display: flex;
    justify-content: space-between;
}
.col-6{ width: 45%;}
.col-8{ width: 65%; }
.col-4{width: 25%;}
.form-group{
    margin-top: 2em;
    label{
        display: block;
        font-family: "Playfair-Regular";
        color: $gold;
        font-size: 1em;
    }
    input, select, .total-amount, textarea, .payment-method{
        font-family: "Poppins-Regular";
        outline: none;
        border: none;
        color: $deep-grey;
        cursor: pointer;
        border-radius: 5px;
        font-size: 1em;
        padding: 9px 20px;
        background: $white;
        margin-top: 10px;
        width: 100%;
    }
    select{
        width: calc(100% + 40px);
    }
    input[type="radio"]{
        width: auto;
        margin-right: 1em;
    }
    .total-amount{
        padding-bottom: 2em;
        .item, .item-total{
            width: 100%;
            display: flex;
            padding-top: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid $deep-grey;
            .name{
                width: 60%;
            }
            .quantity{
                width: 20%;
            }
            .price{width: 20%;}
        }
        .item-total{
            border-bottom: none;
            .name{
                width: 80%;
            }
            .price{
                font-size: 1.5em;
            }
        }
    }
    .payment-method {
        padding-top: 1em;
        padding-bottom: 1em;
        // padding: 2em 2em !important;
        // width: 100%;
        // border-radius: 5px;
        // background: $white;
        
        input,select{
            border-bottom: 1px solid $deep-grey !important;
            border-radius: 0;
            padding: 9px 0px !important;
        }
        .cards, .card-details{ 
            padding:0;
            display: flex;
            justify-content: space-between;
            div{
            label{
                display: flex;
                align-items: center;
                img{
                    height: 25px;
                }
            }
             width: 33.33%; 
        } }
        .card-number{
            width: 100%;
            padding-left: 0;
        }
    }
    
}
.payment-type{
    margin-top: 0em !important;
}
.wrapper{
    scroll-behavior: smooth;
}
.body{
    padding: 5em 2em 4em 2em;
    .features{
        display: flex;
        justify-content: center;
        background-image: url('../img/icons/circle-1.svg');
        background-repeat: no-repeat;
        background-position: 19% 5%;
        .feature{
            text-align: center;
            padding: 2em;
            width: 15%;
            img{
                height: 100px;
            }
            .title{
                font-family: 'Montserrat-Semibold';
                font-size: 1.4em;
            }
            .description{
                font-family: 'Poppins-Regular';
                font-size: 0.8em;
                margin-top: -1em;
            }
        }
    }

    
    .chain-link{
        
        background: url('../img/icons/circle-1.svg');
        background-repeat: no-repeat;
        background-position-x: 40%;
    }
    .brief-about{
        transform: rotate(-90deg);
        position: absolute;
        left: 0;
        margin-top: 10%;
        font-size: 0.8em;
        line-height: 1.2em;
    }
    .next-button{
        background-image: url("../img/icons/menu-arrow-right.svg") !important;
        background-repeat: no-repeat;
        background-position: center right;
        position: absolute; 
        margin-top: 250px;
        right: 5%;
        cursor: pointer;
        outline: none;
        width: 20px;
        background-size: contain;
        height: 25px;
      }
      .prev-button{
        background-image: url("../img/icons/menu-arrow-left.svg") !important;
        background-repeat: no-repeat;
        background-position: center right;
        position: absolute; 
        margin-top: 250px;
        left: 5%;
        cursor: pointer;
        outline: none;
        width: 20px;
        background-size: contain;
        height: 25px;
      }
   
    .tianfoods{
        
        .features{
            margin-top: 2em;
            background: none;
            .feature{
                img{
                    height: 18px;
                }
                .description{
                    margin: auto;
                    margin-top: 1em;
                }
            }
            
        }

        .foods{
            margin-top: 2em;
            padding-bottom: 2em;
            .swiper-button-prev {
                background-image: url("../img/icons/menu-arrow-left.svg") !important;
                background-repeat: no-repeat;
                background-position: center right;
              }
              
              .swiper-button-next {
                background-image: url("../img/icons/menu-arrow-right.svg") !important;
                background-repeat: no-repeat;
                background-position: center left;
              }
              
        }
        .swiper-container {
            width: 80%;
            height: auto;
            cursor: grab;

          }
          .swiper-slide {
            text-align: center;
            @mixin food_shadow($color){
                box-shadow: 0px 0px 15px $color;
            }
            .food{
                min-height: 100px;
                margin: 1em;
                border-radius: 5px;
                padding: 1em;
                text-align: center;
                color: white;
                margin-top: 6em;
                @include food_shadow(rgba(0,0,0,0.5));
                transition: all 1s;
                .arc{
                    // border: 80px solid black;
                    // border-top: 80px solid $gold;
                    // border-right: 80px solid $gold;
                    // width: 1px;
                    // height: 1px;
                    // background: $black;
                    // margin: auto;
                     margin-top: -94px;
                    // // border-radius: 50%;
                    transform: rotate(180deg);
                    position: relative;
                    z-index: -1;
                    margin-left: auto;
                    margin-right: auto;
                    transition: transform 1s;
                    svg{
                        width: 150px;
                        margin: auto;
                        // shadow: 0px 0px 15px rgba(0,0,0,0.5);
                    }
                    // &:hover{
                    //     border: 100px solid black;
                    //     border-bottom: 100px solid $green;
                    //     border-left: 100px solid $green;
                    //     transform: rotate(135deg);
                    // }

                    
                }
                .image{
                    margin: auto;
                    text-align: center;
                    margin-top: -145px;
                    position: relative;
                    z-index: 100;
                    img{
                        width: 150px;
                        margin: auto;
                    }
                }

                header{
                    font-family: "Playfair-Bold";
                    color: $gold;
                    font-size: 1.3em;
                    text-align: center;
                    width: 80%;
                    margin: auto;
                    margin-top: -15px;
                    .type{
                        text-transform: capitalize;
                    }
                }
                .price{
                    font-family: Montserrat-Regular;
                    font-size: 2.6em;
                    margin-top: 10px;
                    font-weight: 500;
                }
                .description{
                    display: block;
                    font-size: 10px;
                    width: 80%;
                    margin: auto;
                    margin-top: 1em;
                }
                button{
                    margin-top: 1.5em;
                    background: $gold;
                    color: $white;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    width: 120px;
                    font-family: "Playfair-Bold";
                    padding: 5px;
                    font-size: 13px;
                    cursor: pointer;
                    border: 1px solid $gold;
                    &:hover{
                        background: none;
                    }
                }
                .options{
                    display: flex;
                    justify-content: space-between;
                    width: 30%;
                    margin: auto;
                    margin-top: 2em;
                    
                    span{
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        display: inline-block;
                        cursor: pointer;
                    }
                    .option-black{
                        background: $white;
                    }
                    .option-gold{
                        background: $gold;
                        
                    }
                    .option-green{
                        background: $green;
                    }
                }
            }
            .food-black{
                background: $black;
            }
            .food-gold{
                background: $gold;
                @include food_shadow(rgba(204,153,51,0.5));
                header{
                    color: $black;
                }
                .arc{
                    transform: rotate(0deg);
                    margin-top: -90px;
                }
                .image{
                    margin-top: -150px;
                }
                button{
                    border: 1px solid black;
                    background: none;
                    color: black;
                    &:hover{
                        background: black;
                        color: white;
                    }
                }
                .options .option-gold{
                    background-color: black;
                }
            }
            .food-green{
                @extend .food-gold;
                @include food_shadow(rgba(76,207,54,0.5));
                background: $green;
                .options .option-gold{
                    background-color: $gold;
                }
                .options .option-green{
                    background-color: black;
                }
            }
          }
    }
}
.order{
    padding: 4em 2em;
    background: $black;
    margin-left: -3%;
    .form-area{
        width: 65%;
        margin: auto;
    }
    button{
        @include button-bare();
        background: $gold;
        color: $white;
        padding: 10px;
        font-family: "Montserrat-Bold";

    }
}

.testimonial{
    width: 100%;
    margin: auto;
    .swiper-container{
        width: 100%;
        padding: 6em 0;
        margin-top: 3em;
        .testimony{
            background: $white;
            border-radius: 5px 5px 0px 0px;
            box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
            padding: 2em 2em 1em 2em;
            font-size: 0.8em;
            .image{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin: auto;
                background: $gold;
                margin-top: -70px;
            }
          
           
        }
        .testimony-footer{
            background: $gold;
            padding: 0.9em 2em;
            font-family: 'Playfair-Bold';
            color: $black;
            font-size: 0.9em;
            text-align: right;
            border-radius: 0px 0px 5px 5px;
            box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
        }
    }
}

.main-footer{
    background: $black;
    color: $white;
    padding: 2em 0;
    font-size: 0.8em;
    .row{
        width: 80%;
        margin: auto;
        .col-3{
            width: 33%;
        }
    }
}

@media only screen and (min-width:901px) and (max-width:1200px){
    .landing{
        article{
            content{
                width: 45%;
            }
        }
        .hero-banana, .hero-corn{
            bottom: -10%;
            display: none;
        }
    }
    #ayo{display: none;}
}
@media only screen and (min-width: 1201px) and (max-width: 1359px){
    .landing{ 
        .hero-banana{
            bottom: -5%;
        }
    }
    // #leaf{right: -14%;}
    #pot{left: -10%}
    #ayo{right: -20%; }
}
// @media only screen and (min-width: 1024) and (max-width: 1359px){
    
// }
// Mobile Resposivness
@media only screen and (max-width: 900px){
    .form-group{
        margin-top: 1em;
        input, select, .total-amount, textarea, .payment-method{
            width: calc(100% - 40px);
            font-size: 0.8em;
            .card-number, .card-details{
                width: calc(100% + 40px);
                input, select{
                    padding-bottom: 0.5em !important;
                }
            }
        }
        select{
            width: 100%;
            font-size: 0.8em;
        }
        label{
            font-size: 0.9em;
        }
        
    }
    .section-description{
        width: 90%;
        font-size: 0.8em;
    }
    .img-float-left, .img-float-right{
        width: 150px;
        display: none;
    }
    .landing{
        // background-size: 80%;
        height: calc(100% - 90);
        .hero-image{
            width: 70%;
            right: 15%;
        }
        .main-navigation{
            display: none;
        }
        .mobile-navigation{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        article{
            .heading{
                font-size: 3.2em;
                padding: 0 1em;
                line-height: 1em;
            }
            content{
                width: 80%;
                margin-top: -2em;
                p{
                    font-size: 0.7em;
                }
            }
            footer{
                font-size: 1em;
            }
        }
    }
    .body{
        .features{
            flex-direction: column;
            justify-content: center;
            .feature{
                width: 100%;
                padding: 2em 0;
                .title{
                    h3{
                        font-size: 0.9em !important;
                    }
                }
                .icon{
                    img{
                        height: 60px;
                    }
                }
            }
            .brief-about{
                display: none;
            }

            
        }
        .tianfoods{
            .feature{

                .icon{
                    img{
                        height: 15px !important;
                    }
                }

                .description{
                    width: 80%;
                    font-size: 0.7em;
                }
            }
        }
    
        .tianfoods{
            .swiper-container{
                width: 90%;
            }
        }
    }
    .section-header{
        font-size: 2.75em;
    }
    .order{
        padding: 4em 2em;
        margin-left: 0;
        .form-area{
            width: 100%;
        }
        .row{
            flex-direction: column;
            .col-6,.col-8,.col-4{
                width: 100%;
            }
        }
    }
    .body{
    .prev-button, .next-button{ width:15px; height: 20px; }
    
    }
    .payment-row, .menu-row{
        flex-direction: row !important;
        .col-8{   width: 165% !important;
        padding-right: 10px;  }
        
    }
  
.float{
    display: none !important;
}
   
    
}